h1 {
    font-family: 'museo-sans' san-serif !important;
    font-weight: 900 !important;
    color: #14264D;
}
body, h2, h3 {
    text-align: center;
    font-family: 'museo-sans' san-serif !important;
    color: #14264D;
}

#header img {
    height: 150px;
}
#pln { grid-area: pln; }
#pls { grid-area: pls; }
#n4 {  grid-area: n4; }
#n3 {  grid-area: n3; }
#n2 {  grid-area: n2; }
#n1 {  grid-area: n1; }
#s5 {  grid-area: s5; }
#s4 {  grid-area: s4; }
#s { grid-area: s; }
#building {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
        "pls pln"
		"s5 ."
		"s4 n4"
		"s n3"
		"s n2"
		"s n1";
    grid-gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#building img {
    max-width: 500px;
    margin: auto;
}
@media only screen and (max-width: 1024px) {
    #building {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "pls"
            "s5"
            "s4"
            "pln"
            "n4"
            "n3"
            "n2"
            "n1";
        grid-gap: 10px;
    }
    #s { display: none; }
}
#legend {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "a b"
        "c d";
    grid-gap: 10px;
}
#s h2 {
    text-align: center;
}

.container {
    margin: 5px 49px 5px 49px;
}
.icon img {
    height: 30px;
    margin-right: 10px;
}
.floor {
	display: grid;
	grid-template-columns: 4fr 1fr 4fr 1fr;
    grid-template-areas:
        "name quiet busyness percent";
    justify-self: start;
	padding: 12px;
	width: 100%;
    border-style: ridge;
    border-width: 5px;
}
.floor#s {
    display: flex;
    flex-direction: column;
}
.floor.north {
    border-color: #316591;
}
.floor.south {
    border-color: #E06334;
}
.floor h2 {
    grid-area: name;
    justify-self: start;
    height: 45px;
    margin: 7px 0px 0px 0px;
}
.floor img {
    grid-area: quiet;
    justify-self: start;
    height: 45px;
}
.busyness-indicator {
    grid-area: busyness;
    justify-self: end;
    margin: 7px 0px 0px 0px;
	width: 100%;
	background-repeat: no-repeat;
	background-position-x: right;
	height: 45px;
}
.busyness-indicator.low {
	background-image: url("./icons/user-low-occupancy.svg");
}
.busyness-indicator.medium {
	background-image: url("./icons/user-medium-occupancy.svg");
}
.busyness-indicator.high {
	background-image: url("./icons/user-high-occupancy.svg");
}
.busyness-indicator.unavailable {
	background-image: url("./icons/user-unavailable-occupancy.svg");
}
.floor h3 {
    grid-area: percent;
    justify-self: end;
    height: 45px;
    margin: 7px 0px 0px 0px;
}
